<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaoan.forever.mapper.TbUserMapper">

    <!-- Result Map -->
    <resultMap id="BaseResultMap" type="com.gaoan.forever.entity.TbUserEntity" >
        <result column="id" property="id" javaType="Long"/>
        <result column="user_name" property="userName" javaType="String"/>
        <result column="password" property="password" javaType="String"/>
        <result column="real_name" property="realName" javaType="String"/>
        <result column="status" property="status" javaType="Integer"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="update_time" property="updateTime" javaType="java.util.Date"/>
    </resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
	id,user_name,password,real_name,status,create_time,update_time
    </sql>
    <!-- 通用WHERE条件 -->
    <sql id="Base_where_List">
        WHERE 1=1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="userName != null and userName != ''">
            AND user_name = #{userName}
        </if>
        <if test="password != null and password != ''">
            AND password = #{password}
        </if>
        <if test="realName != null and realName != ''">
            AND real_name = #{realName}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="createTime != null">
            AND create_time = #{createTime}
        </if>
        <if test="updateTime != null">
            AND update_time = #{updateTime}
        </if>
    </sql>
    
    <!-- 查询(根据主键ID查询) -->
    <select id="queryByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_user
        WHERE id = #{id}
    </select>

    <!-- 查询（根据实体查询） -->
    <select id="queryInfoByEntity"  parameterType="com.gaoan.forever.entity.TbUserEntity" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_user
        <include refid="Base_where_List" />
    </select>

    <!-- 查询记录列表 -->
    <select id="queryAllByParams" parameterType="map" resultType="map">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_user
        <include refid="Base_where_List" />
        <if test="pager.orderCondition != null and pager.orderCondition != ''" >
            ${pager.orderCondition}
        </if>
    </select>

    <!-- 查询记录列表 -->
    <select id="queryAll" parameterType="com.gaoan.forever.entity.TbUserEntity" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_user
        <include refid="Base_where_List" />
        ORDER BY id
    </select>

    <!-- 查询记录总数 -->
    <select id="queryCountByParams" resultType="java.lang.Long" parameterType="map">
        SELECT COUNT(1) FROM tb_user
        <include refid="Base_where_List" />
    </select>

    <!-- 查询记录列表(分页) -->
    <select id="queryListByParams" parameterType="map" resultType="map">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_user
        <include refid="Base_where_List" />
    </select>

    <!-- 查询记录总数 -->
    <select id="queryCount" resultType="java.lang.Long" parameterType="com.gaoan.forever.entity.TbUserEntity">
        SELECT COUNT(1) FROM tb_user
        <include refid="Base_where_List" />
    </select>
    
    <select id="queryUserResources" resultType="map" parameterType="java.lang.String">
		SELECT
			trs."id",
			trs.resources_name
		FROM
			tb_user tu
		INNER JOIN tb_user_role tur ON tu."id" = tur.user_id
		INNER JOIN tb_role tr ON tur.role_id = tr."id"
		INNER JOIN tb_role_permission trp ON tr."id" = trp.role_id
		INNER JOIN tb_resources trs ON trp.resources_id = trs."id"
		WHERE
			tu.user_name = #{userName}
		ORDER BY trs.sort_id
    </select>
    
    <select id="queryUserPage" resultType="map">
		SELECT
			tu.id,
			tu.user_name "userName",
			tu.password,
			tu.real_name "realName",
			tu.status,
			tu.create_time "createTime",
			tu.update_time "updateTime",
			tr."id" "roleId"
		FROM
			tb_user tu
		LEFT JOIN tb_user_role tur 
			ON tu."id" = tur.user_id
		LEFT JOIN tb_role tr 
			ON tur.role_id = tr."id"
		ORDER BY id
    </select>
    
    <select id="queryUserDetail" resultType="map" parameterType="java.lang.Long">
		SELECT
			tu.id,
			tu.user_name "userName",
			tu.password,
			tu.real_name "realName",
			tu.status,
			tu.create_time "createTime",
			tu.update_time "updateTime",
			tr."id" "roleId"
		FROM
			tb_user tu
		LEFT JOIN tb_user_role tur 
			ON tu."id" = tur.user_id
		LEFT JOIN tb_role tr 
			ON tur.role_id = tr."id"
		WHERE tu."id" = #{userId}
    </select>

    <!-- 添加 -->
    <insert id="insert" parameterType="com.gaoan.forever.entity.TbUserEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_user
        (user_name,password,real_name,status,create_time,update_time)
        VALUES
        (#{userName},#{password},#{realName},#{status},#{createTime},#{updateTime})
    </insert>

    <!-- 添加 (匹配有值的字段)-->
    <insert id="insertSelective" parameterType="com.gaoan.forever.entity.TbUserEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userName != null">
            user_name,
            </if>
            <if test="password != null">
            password,
            </if>
            <if test="realName != null and realName != ''"> 
            real_name,
            </if>
            <if test="status != null">
            status,
            </if>
            create_time,
            update_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userName != null">
            #{userName},
            </if>
            <if test="password != null">
            #{password},
            </if>
            <if test="realName != null and realName != ''"> 
            #{realName},
            </if>
            <if test="status != null">
            #{status},
            </if>
            now(),
            now()
        </trim>
    </insert>

    <!-- 修 改 (匹配有值的字段)-->
    <update id="updateByPrimaryKeySelective" parameterType="com.gaoan.forever.entity.TbUserEntity">
        UPDATE tb_user
        <set>
            <if test="userName != null">
            user_name = #{userName},
            </if>
            <if test="password != null">
            password = #{password},
            </if>
            <if test="realName != null and realName != ''">
            real_name = #{realName},
            </if>
            <if test="status != null">
            status = #{status},
            </if>
            <if test="createTime != null">
            create_time = #{createTime},
            </if>
            update_time = now()
        </set>
        WHERE id = #{id}
    </update>

    <!-- 修 改-->
    <update id="updateByPrimaryKey" parameterType="com.gaoan.forever.entity.TbUserEntity">
        UPDATE tb_user
        <set>
            user_name = #{userName},
            password = #{password},
            real_name = #{realName},
            status = #{status},
            update_time = now()
        </set>
        WHERE id = #{id}
    </update>

    <!--根据主键删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM tb_user WHERE id = #{id}
    </delete>
    
</mapper>